.usersPhoto {
    width: 100px;
    height: 100px;
}

.selectedPage {
    font-weight: bold;
}

span {
    cursor: pointer;
}

.userBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 900px;
    margin: 0 auto;
}

.userProfile {
    margin: 20px;
}

.margins {
    margin: 0 auto;
}

.widthBlock {
    width: 1000px;
}

.paginatorMargin {
    margin: 0 auto;
}