.postBlock {
    padding: 10px;
}

.postBlock form {
    background-color: #fff;
    border-radius: 4px;
    padding: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.postBlock textarea {
    border: 1px solid #bebfc2;
    border-radius: 4px;
    height: 30px;
}

.postBlock button {
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #6991ad;
    background: #4a76a8;
    transition: all .3s ease;
    padding: 10px;
}

.postBlock button:hover {
    background-color: #6991ad;
    color: #fff;
}

.posts {
    margin-top: 10px;
}