.descriptionBlock {
    padding: 10px;
}

.descriptionBlock img {
    width: 180px;
    height: 180px;
}

.mainPhoto {
    max-width: 200px;
    max-height: 200px;
}

.contact {
    padding-left: 10px;
}

.formControl.error input,
.formControl.error textarea{
    border: solid red 2px;
}

.formControl.error span {
    color:red;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}

.buttonProfile input {
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #6991ad;
    background: inherit;
    transition: all .3s ease;
    margin-top: 10px;
    margin-bottom: 10px;
}
.buttonProfile input:hover {
    background-color: #6991ad;
    color: #fff;
}

.buttonEdit button {
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #6991ad;
    background: inherit;
    transition: all .3s ease;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100px;
}

.buttonEdit button:hover {
    background-color: #6991ad;
    color: #fff;
}